* {
    margin: 0;
    padding: 0;
}

#mockup {
    width: 332px;
    height: 516px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/complex/complex.01.png?token=ARLOQAWK2VTEHSNQJVOVT5C7VJ3IG);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

  body {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
  }

  .box {
    width: 290px;
  }

  h5{
    margin-top: 12px;
    margin-left: 25px;
    font-size: 13px;
  }

  p {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 13px;
  }

  span {
    float: right;
    margin-right: 15px;
  }

  img {
    height: 215px;
  }

  footer {
      margin-top: 32px;
      margin-left: 20px;
      font-size: 13px;
  }

  .logo {
      height: 32px;
  }

  button {
      border-radius: 25px;
  }

 