* {
    margin: 0;
    padding: 0;
}

  body {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
  }

  .box {
    width: 290px;
  }

  h5{
    margin-top: 12px;
    margin-left: 25px;
    font-size: 13px;
  }

  p {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 13px;
  }

  span {
    float: right;
    margin-right: 15px;
  }

  img {
    height: 215px;
  }

  footer {
      width: 290px;
      margin-top: 32px;
      margin-left: 20px;
      font-size: 12px;
      display: grid;
      grid-template-columns: 38px 300px;
  }

  .logo {
      height: 32px;
  }

  .right-footer {
    margin-top: 6px;
  }

  button {
      border-radius: 25px;
      padding: 4px;
      color: white;
      font-size: 10px;
  }

 .blue {
     background-color: #9DD1D5;
     border-style: none;
 }

 .purple {
     background-color: #8055EE;
     border-style: none;
 }

 .red {
     background-color: #FF4F4F;
     border-style: none;
 }