#mockup {
    width: 732px;
    height: 716px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.04.png?token=ARLOQAXN5P5TVCMESHBNSN27VKYOQ);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

body {
    font-family: 'Source Serif Pro', serif;
}

header {
    width: 710px;
    color: #EBEBEB;
    font-size: 11px;
}

img {
    width: 705px;
}

.header-text {
    float: right;
    margin: 0;
}

.content {
    width: 710px;
    text-align: center;
    font-size: 15px;
}

h1 {
    font-size: 32px;
}

