.box {
    color: #788E91;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin-left: 7px;
}
.info {
    margin-top: 30px;
}

.icons {
    margin-top: 30px;
}

img {
    height: 20px;
    padding-right: 17px;
    filter: invert(61%) sepia(2%) saturate(3176%) hue-rotate(139deg) brightness(90%) contrast(74%);
}